# Topics
- Functions
    - Required Arguments
    - Optional Arguments
    - Return
    - Non Return
    - Defualt Arguments
    - postional Arguments
    - KeyWord Arguments
    - Argument with List
    - Argument with Dictionary 
    - pre defineFunctions
    - User defineFunctions
- Loop
    - for
    - while
    - do while
- input

Function: Set of instruction define in block is called function.

Example set of instructions

In [1]:
print("My Name is Qasim")
print("Education: BSCS")
print("Nationality: Pakistani")

My Name is Qasim
Education: BSCS
Nationality: Pakistani

In [2]:
TecherInfo()

NameError: name 'TecherInfo' is not defined

- Defualt Function
- Non Return Function

In [3]:
def TeacherInfo():
    print("UniversityName: UIT")
    print("My Name is Muhammad Qasim")
    print("Education: BSCS")
    print("Nationality: Pakistani")

TeacherInfo()

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani

In [4]:
TeacherInfo()
TeacherInfo()

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani
UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani

In [ ]:
%time TeacherInfo()

In [5]:
x=TeacherInfo()
print(x)

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani
None

In [6]:
def abc():
    return "pakistan \n we are pakistani \n we love our country!"

x = abc()
print(x)

pakistan
 we are pakistani
 we love our country!

- Variabl Scope
 - local
 - global

In [7]:
Uni = 'UIT' # global

print(Uni)

def fullName():
    fname="Muhammad" # local
    lname="Qasim" # local
    print(fname," ",Uni)

fullName()
print(fname)

UIT
Muhammad   UIT

NameError: name 'fname' is not defined

- Argument With Required

In [8]:
def Teacher(name, education, nationality):
    print("UniversityName: UIT")
    print("My Name is "+name)
    print("Education: "+education)
    print("Nationality: "+nationality)
    
Teacher("Zia Khan","Master","Pakistan")

UniversityName: UIT
My Name is Zia Khan
Education: Master
Nationality: Pakistan

In [9]:
Teacher("Muhammad Qasim","BSCS","PAK")

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: PAK

In [10]:
def fullName1(fname, lname): # function define argument
    print(fname+" "+lname)
    
fullName1("Muhammad","Qasim") # function calling parameters

Muhammad Qasim

In [11]:
fullName = fullName1("Muhammad","Qasim")
print(fullName)

Muhammad Qasim
None

Return Function

In [12]:
def fullName1(fname, lname): # function define argument
    return fname+" "+lname
    
x=fullName1("Muhammad","Qasim") # function calling parameters
print(x)

Muhammad Qasim

In [13]:
fullName1('Muhammad','Osama')

'Muhammad Osama'

In [14]:
fullName1('Muhammad','Osama')

'Muhammad Osama'

In [15]:
fullName1('Qasim')

TypeError: fullName1() missing 1 required positional argument: 'lname'

### With Optional Arguments

In [16]:
def Info(fname,lname,contact="03##-#######"):
    return "FullName: "+fname+" "+lname+' Contact: '+contact

print(Info("Muhammad","Qasim"))
print(Info("Muhammad","Ahmed","0345-2571358"))

FullName: Muhammad Qasim Contact: 03##-#######
FullName: Muhammad Ahmed Contact: 0345-2571358

In [17]:
def abc():
    return 'a','b','c'

x,y,z=abc()
print(x,z,y)

a c b

### Call Function with postional Arguments

In [18]:
Info("Muhammad","Qasim","315-2968211")

'FullName: Muhammad Qasim Contact: 315-2968211'

In [19]:
Info("Qasim",'Muhammad')

'FullName: Qasim Muhammad Contact: 03##-#######'

### KeyWord Argument

In [20]:
Info(contact="0315-1234567",fname="Muhammad", lname="Qasim")

'FullName: Muhammad Qasim Contact: 0315-1234567'

In [21]:
Info(con="0315-1234567",fname="Muhammad", lname="Qasim")

TypeError: Info() got an unexpected keyword argument 'con'

### Provide Argument values with list

In [22]:
abc =['Muhammd','Qasim','0345-1234567']


print(Info(abc[0],abc[1],abc[2]))

FullName: Muhammd Qasim Contact: 0345-1234567

In [23]:
Info(*abc)

'FullName: Muhammd Qasim Contact: 0345-1234567'

In [24]:
*abc

SyntaxError: can't use starred expression here (<ipython-input-24-9c8daeef2410>, line 1)

In [26]:
l=[1,2,3]

def aa():
    l[0]='abc'
    
aa()

['abc', 2, 3]

In [36]:
l={"name":"isfhan ahmed","age":21,"edu":"dropout"}
def myfun(name,age,edu):
    print("my name is "+name+"my age is "+str(age)+"my education is"+edu)
    
myfun(**l)

my name is isfhan ahmedmy age is 21my education isdropout

### Provide Argument Key values with Dictionary

In [37]:
xyz = {'contact':'0315-2968211',
      'fname':'Muhammad',
      'lname':'Qasim'}
Info(xyz['fname'], xyz['lname'], xyz['contact'])

'FullName: Muhammad Qasim Contact: 0315-2968211'

In [38]:
Info(**xyz)

'FullName: Muhammad Qasim Contact: 0315-2968211'

In [39]:
Info(fname="Muhammad", lname="Qasim",contact='0315-1234567')

'FullName: Muhammad Qasim Contact: 0315-1234567'

In [41]:
def xyz():
    pass

xyz()

# Loop
    - for
    - while
    - do while

Repitation of statments or statment
- counter
- control
- increament or Decreament
    - pass (ignore Logic Block)
    - countiune (skip if true)
    - Break (stop if True)

In [ ]:
# Repitation of statments
print('Pakistan zinda bad')
print('Pakistan zinda bad')
print('Pakistan zinda bad')

In [42]:
# While Loop
i=5 #counter
while(i<=10): #Controller/Logic
    print("Pakistan zinda bad",i)
    i+=1 #Increment/Decreament

Pakistan zinda bad 5
Pakistan zinda bad 6
Pakistan zinda bad 7
Pakistan zinda bad 8
Pakistan zinda bad 9
Pakistan zinda bad 10

In [49]:
for i in list(range(5,100)):
    print('pAKISTAN {0}'.format(i))
    if i==10:
        break

pAKISTAN 5
pAKISTAN 6
pAKISTAN 7
pAKISTAN 8
pAKISTAN 9
pAKISTAN 10

In [50]:
for i in list(range(10)):
    if i==5:
        continue
    print('pAKISTAN',i)

pAKISTAN 0
pAKISTAN 1
pAKISTAN 2
pAKISTAN 3
pAKISTAN 4
pAKISTAN 6
pAKISTAN 7
pAKISTAN 8
pAKISTAN 9

In [51]:
for i in list(range(10)):
    if i==5:
        break
    print('pAKISTAN',i)

pAKISTAN 0
pAKISTAN 1
pAKISTAN 2
pAKISTAN 3
pAKISTAN 4

In [52]:
for i in list(range(10)):
    if i==5:
        pass
    print('pAKISTAN',i)

pAKISTAN 0
pAKISTAN 1
pAKISTAN 2
pAKISTAN 3
pAKISTAN 4
pAKISTAN 5
pAKISTAN 6
pAKISTAN 7
pAKISTAN 8
pAKISTAN 9

In [54]:
names = ['Qasim','Ahmed','Minhal','Arsalan','Shahryar']

i=0
while(i<len(names)):
    print(names[i])
    i+=1

Qasim
Ahmed
Minhal
Arsalan
Shahryar

In [55]:
for name in names:
    print(name)

Qasim
Ahmed
Minhal
Arsalan
Shahryar

In [56]:
for k,name in enumerate(names):
    print(k,name)

0 Qasim
1 Ahmed
2 Minhal
3 Arsalan
4 Shahryar

In [57]:
xyz = {'contact':'0315-2968211',
      'fname':'Muhammad',
      'lname':'Qasim'}
xyz.items()

dict_items([('contact', '0315-2968211'), ('fname', 'Muhammad'), ('lname', 'Qasim')])

In [58]:
xyz.keys()

dict_keys(['contact', 'fname', 'lname'])

In [59]:
xyz.values()

dict_values(['0315-2968211', 'Muhammad', 'Qasim'])

In [60]:
l=['a','b']
x, z = l
print(x,z)

a b

In [61]:
for k,v in xyz.items():
    print("Keys is:",k," Value is: ",v)

Keys is: contact  Value is:  0315-2968211
Keys is: fname  Value is:  Muhammad
Keys is: lname  Value is:  Qasim

In [62]:
names

['Qasim', 'Ahmed', 'Minhal', 'Arsalan', 'Shahryar']

In [63]:
'Arsalan' in names

True

In [64]:
i=0
while(i<=4):
    if names[i]=='Arsalan':
        print(names[i])
    i+=1

Arsalan

In [65]:
x=input("Enter Your Name")
print(x)

Enter Your Namepakistan zinda bad
pakistan zinda bad

In [66]:
names=[]
x=input("Enter Student Name | 'q' for quit ")
while(x!='q'):
    names.append(x)
    x=input("Enter Student Name | 'q' for quit ")
    if x=='q':
        for name in names:
            print(name)

Enter Student Name | 'q' for quit qasim
Enter Student Name | 'q' for quit asif
Enter Student Name | 'q' for quit abic
Enter Student Name | 'q' for quit ali
Enter Student Name | 'q' for quit q
qasim
asif
abic
ali

In [67]:
count = 1
while count < 5:
    print(count,"less than five")
    count +=1
else:
    print("No")

1 less than five
2 less than five
3 less than five
4 less than five
No

In [ ]:
i = 1
do{
    print(i)
    i +=1
}while(i<5)

In [68]:
def abc(*num):
    total=0
    for i in num:
        total +=i
    return total

abc(2,8,9,0)

19

In [69]:
def abc(**dic):
    for k,v in dic.items():
        print(k,v)
        
abc(name='Qasim',cont='lkjadlsjdflkj')

name Qasim
cont lkjadlsjdflkj